@import '~scss/variables';

.processing-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  z-index: 999;
  .processing-icon-container {
    width: 180px;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    i {
      color: $white;
      font-size: 150px;
      position: relative;
      top: calc(50% - 80px);
    }
  }
}
