@import '~scss/variables';
@import '~scss/mixins';
$card-height: 300px;

.card {
	width: 95%;
	margin: auto auto 25px;
  min-height: $card-height;
  padding: 0;
  border: 1px solid #CCC;
	.logo {
		width: 150px;
		text-align: center;
		padding: 25px 15px 15px;
		img {
			width: auto;
			margin: auto;
		}
	}
	.content {
		padding: 15px;
	}
	.card-content {
    max-height: 550px;
    padding: 0;
	}
	.card-title {
    position: relative;
    padding-left: 20px;
		z-index: 2;
	}
	.card-meta {
    font-size: 15px;
    padding-left: 20px;
		font-style: italic;
	}
	.card-details {
		font-size: 15px;
    padding: 8px;
    max-height: 350px;
    overflow-y: auto;
		ul {
      padding-left: 20px;
		}
	}
	.card-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
		i {
			color: $white;
		}
	}
}

.div-hover {
	@include transition($base-transition);
}
