@import '~scss/variables';

.file-check-multiple {
  margin-bottom: 20px;
  .file-check-wrapper {
    display: block;
    padding: 10px 5px;
    &:nth-child(odd) {
      border-top: $base-border;
      background: $light-grey;
    }
  }
}
