.github-project {
  .github-project-avatar {
    padding: 15px 0 0 15px;
  }
  .github-project-content {
    padding-left: 30px;
    .github-project-title {
      font-size: 1.2em;
      font-weight: 600;
    }
    p {
      margin-bottom: 0;
    }
    b {
      font-weight: 600;
    }
  }

}
