<h1>Retro Achievements Top 10</h1>
<table class="table table-bordered table-striped">
  <thead>
    <th>Rank</th>
    <th>User</th>
    <th>Points</th>
    <th></th>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td>{{personal.Rank}}</td>
      <td>
        <b>Me</b>
      </td>
      <td>{{personal.Score}}</td>
      <td class="text-right">
        <button md-raised-button color="primary" class="read-more" [routerLink]="['/retro/user/', 'foleykoontz']">View</button>
      </td>
    </tr>
    <tr *ngFor="let user of data; let i = index">
      <td>{{i + 1}}</td>
      <td>{{user[1]}}</td>
      <td>{{user[2]}}</td>
      <td class="text-right">
        <button md-raised-button color="primary" class="read-more" [routerLink]="['/retro/user/', user[1]]">View</button>
      </td>
    </tr>
  </tbody>
</table>
