<h1>Retro Achievements</h1>

<form (ngSubmit)="search(User.value)" #searchUserForm="ngForm" class="card">
  <div class="card-header">
    <h2 class="card-title">Search for User</h2>
  </div>
  <div class="card-body">
    <md-form-field class="w-100">
      <input mdInput id="user" placeholder="Enter username" required [(ngModel)]="user" name="User" #User="ngModel">
    </md-form-field>
    <div *ngIf="message">
      No User found
    </div>
  </div>
  <div class="card-footer actions">
    <button md-raised-button color="primary" [disabled]="searchUserForm.form.invalid || processing">Search</button>
  </div>
</form>
<div class="card">
  <div class="card-header">
    <h2 class="card-title">Retro Achievements Top 10</h2>
  </div>
  <div class="card-body no-padding">
    <table class="table table-bordered table-striped">
      <thead>
        <th>Rank</th>
        <th>User</th>
        <th>Points</th>
        <th></th>
      </thead>
      <tbody>
        <tr class="table-primary">
          <td>{{personal.Rank}}</td>
          <td>
            <b>Me</b>
          </td>
          <td class="text-right">{{personal.Score}}</td>
          <td class="text-right">
            <button md-raised-button color="primary" class="read-more" [routerLink]="['/retro/user/', 'foleykoontz']">View</button>
          </td>
        </tr>
        <tr *ngFor="let user of data; let i = index">
          <td>{{i + 1}}</td>
          <td>{{user[1]}}</td>
          <td class="text-right">{{user[2] | number}}</td>
          <td class="text-right">
            <button md-raised-button color="primary" class="read-more" [routerLink]="['/retro/user/', user[1]]">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
