<h1>Modules</h1>

<p>These are Angular 4 modules either that I have either created or re-built from an AngularJS application.</p>

<h2>Angular 4 Portfolio</h2>
<p>The Repo for this site.</p>
<app-github-project project="angular-4-theme-wordpress-api"></app-github-project>

<hr>

<h2>Count-To</h2>
<p>Counts from a number to another number over a set time.</p>
<app-github-project project="angular-truncate-pipes"></app-github-project>
<button md-button (click)="activeCount.count = 100">Click to start</button>
<span [CountTo]="activeCount.count" [from]="activeCount.from" [duration]="activeCount.duration"></span>
<hr>

<h2>Truncate Pipes</h2>
<app-github-project project="angular-truncate-pipes"></app-github-project>
<p>These 3 pipes are from <a href="https://github.com/sparkalow/angular-truncate">this truncate project</a>.
  I found them very useful when dealing with data tables that I brought them over to Angular 4.</p>
<p>Original Word: <b>{{truncateWord}}</b></p>
<table class="table table-bordered table-striped">
  <thead>
    <th>Pipe</th>
    <th>Args</th>
    <th>Result</th>
  </thead>
  <tbody>
    <tr>
      <td>characters</td>
      <td>5</td>
      <td>{{truncateWord | characters:5}}</td>
    </tr>
    <tr>
      <td>characters</td>
      <td>0</td>
      <td>{{truncateWord | characters:0}}</td>
    </tr>
    <tr>
      <td>characters</td>
      <td>10:true</td>
      <td>{{truncateWord | characters:10:true}}</td>
    </tr>
    <tr>
      <td>splitcharacters</td>
      <td>15</td>
      <td>{{truncateWord | splitcharacters:15}}</td>
    </tr>
    <tr>
      <td>splitcharacters</td>
      <td></td>
      <td>{{truncateWord | splitcharacters}}</td>
    </tr>
    <tr>
      <td>words</td>
      <td></td>
      <td>{{truncateWord | words}}</td>
    </tr>
    <tr>
      <td>words</td>
      <td>2</td>
      <td>{{truncateWord | words: 2}}</td>
    </tr>
  </tbody>
</table>
