@import '~scss/variables';
@import '~scss/mixins';

.main-sidenav {
  width: 320px;
  background: $primaryColor;
  @include gradient(darken($primaryColor, 5%), $primaryColor, vertical);
  color: $white;
}
.main-container {
  height: 100%;
  overflow: hidden;
}
.processing-wrap {
  height: 100%;
  overflow: hidden;
}

.content-container {
  height: 100%;
  overflow-y: scroll;
}

.main-content {
	width: 95%;
	max-width: 700px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 25px;
	font-size: 20px;
  line-height: 1.8;
  &.processing-freeze {
    overflow: hidden;
  }
	a {
		text-decoration: none;
		color: $primaryColor;
		font-weight: bold;
		&:visited, &:focus {
			color: darken($primaryColor, 20%);
		}
		&:hover {
			color: lighten($primaryColor, 20%);
		}
	}
	.page-title {
		font-weight: bold;
		font-size: 1.8em;
		line-height: 1.5em;
		margin: 10px 0;
		@media screen and (max-width: $break-small) {
			font-size: 1.5em;
			line-height: 1.3em;
		}
	}
	article {
		border-bottom: $base-border;
		padding: 15px 10px;
		&:last-child {
			border-bottom: none;
		}
		&.exerpt {
			cursor: pointer;
			@include transition($base-transition);
			&:hover {
				background: darken($white, 3%);
			}
		}
		.post-image {
			overflow: hidden;
		}
		.post-title {
			line-height: 1.3em;
			margin: 10px 0;
		}

		.post-date {
			text-align: right;
			font-size: 17px;
		}
	}
}
