@import '~scss/variables';
@import '~scss/mixins';

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.header-title {
  text-align: center;
  padding: 40px 0 30px;
  @media screen and (max-width: $break-small) {
    padding: 20px 0 5px;
  }
}
h1, h2 {
  text-transform: uppercase;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
}
md-content {
  background: transparent;
}

