@import '~scss/variables';
@import '~scss/mixins';

.header-title {
  text-align: center;
  padding: 40px 0 30px;
  @media screen and (max-width: $break-small) {
    padding: 20px 0 5px;
  }
}
h1, h2 {
  text-transform: uppercase;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
}
md-content {
  background: transparent;
}
ul.menu {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
  a {
    color: $white;
    display: block;
    font-size: 18px;
    padding: 10px 15px;
    text-decoration: none;
    @include transition($base-transition);
    &:hover, &.active {
      background: lighten($primaryColor, 5%);
    }
  }
}
