/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import 'scss/mixins';

// Material Design Theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Bootstrap grid import
@import "~bootstrap/scss/bootstrap-grid";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic);


@import 'scss/pre';
@import 'scss/awards';
@import 'scss/wordpress';

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: $primary;
	font-weight: $base-weight;
	color: rgba(0,0,0,.8);
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $primary;
	font-weight: $base-weight;
}
