/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'scss/variables';
@import 'scss/pre';

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: $primary;
	font-weight: $base-weight;
	color: rgba(0,0,0,.8);
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $primary;
	font-weight: $base-weight;
}
