@import '~scss/variables';

.card {
  border: $base-border;
  border-radius: 4px;
  margin-bottom: 25px;
  & > div {
    padding: 10px 20px;
  }
  .card-header {
    border-bottom : $base-border;
    background: $white;
    .card-title {
      font-weight: 300;
      margin-bottom: 0;
    }
  }
  .card-body {
    &.no-padding {
      padding: 0;
    }
  }
  .card-footer {
    border-top: $base-border;
    &.actions {
      text-align: right;
    }
  }
}
