code {
  background: lighten($primaryColor, 20%);
  color: $white;
  font: lighter Monaco,'MonacoRegular',monospace;
  padding: 0 4px;
}

pre {
  width: 92%;
  overflow: auto;
  margin: 2rem 0;
  padding: 21px 14px 21px 20px;
  color: #3f3b36;
  border: 1px solid $primaryColor;
  border-left: 10px solid $primaryColor;
  font: $preFont;
  background: url(/assets/images/pre.png) repeat 0 0;
  background-size: 1px 40px;
  code {
      font: $preFont;
      background: transparent;
      color: #3f3b36;
  }
}
