@import '~scss/variables';
@import '~scss/mixins';

:host {
  height: calc(100% - 154px - 60px);
  overflow-y: auto;
  display: block;
}

ul.menu {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
  a {
    color: $white;
    display: block;
    font-size: 18px;
    padding: 10px 15px;
    text-decoration: none;
    @include transition($base-transition);
    &:hover, &.active {
      background: lighten($primaryColor, 5%);
    }
  }
}
